html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* global.less */
* {
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: none;
}
:-moz-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
html {
  font-size: 100%;
  background: #fff;
  min-height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
html.locked-scroll {
  overflow: hidden;
}
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
body {
  font-family: "Georgia Pro", Georgia, Times, serif;
  font-weight: 400;
  color: #000000;
  min-height: 100%;
  width: 100%;
  *zoom: 1;
  zoom: 1;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
  line-height: 1.75rem;
}
body:before,
body:after {
  display: table;
  content: "";
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.ie7 body {
  position: relative;
  top: 48px;
}
.container {
  position: relative;
  margin: 0px 20px;
  margin: 0rem 1.25rem;
  max-width: 1200px;
  max-width: 75rem;
  *zoom: 1;
  zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 48em) {
  .container {
    margin: 0px 25px;
    margin: 0rem 1.5625rem;
  }
}
@media (min-width: 64em) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
a {
  color: #ed1c24;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  -ms-interpolation-mode: bicubic;
}
#monitor-width {
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: -9999em;
  left: -9999em;
  width: 20em;
}
@media (min-width: 30em) {
  #monitor-width {
    width: 480px;
  }
}
@media (min-width: 37.5em) {
  #monitor-width {
    width: 600px;
  }
}
@media (min-width: 48em) {
  #monitor-width {
    width: 768px;
  }
}
@media (min-width: 64em) {
  #monitor-width {
    width: 1024px;
  }
}
.chromeframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  background: #434041;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  padding: 10px;
  padding: 0.625rem;
}
@media (min-width: 48em) {
  .chromeframe {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.chromeframe a {
  color: #fff;
  text-decoration: underline;
}
.no-transition,
.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#page {
  max-width: 1200px;
  margin: 0 20px;
}
@media (min-width: 75em) {
  #page {
    margin: 0 auto;
  }
}
#main {
  width: 100%;
  overflow: hidden;
}
.block {
  float: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
}
.block img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.block.block-last + .block {
  clear: both;
}
.block-last-clear {
  clear: both;
}
@media (min-width: 48em) {
  .region-a {
    position: relative;
    float: left;
    width: 100%;
    *width: 99.95833333333333%;
  }
  .region-a .region-inner {
    position: relative;
    width: 102.08333333333333%;
    *width: 102.04166666666666%;
  }
  .region-a .block {
    margin-right: 2.083333333333333%;
    *margin-right: 2.0416666666666665%;
  }
  .region-a .block-1-4 {
    width: 22.916666666666664%;
    *width: 22.874999999999996%;
  }
  .region-a .block-2-4 {
    width: 47.91666666666667%;
    *width: 47.87500000000001%;
  }
  .region-a .block-3-4 {
    width: 72.91666666666666%;
    *width: 72.87499999999999%;
  }
  .region-a .block-4-4 {
    width: 97.91666666666666%;
    *width: 97.87499999999999%;
  }
}
/* utilities.less - non-semantic helper classes */
.right {
  float: right;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hide {
  display: none;
}
.hidden,
.js .js-hidden {
  display: none !important;
  visibility: hidden;
}
.visually-hidden,
.js .js-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visually-hidden.focusable:active,
.js .js-visually-hidden.focusable:active,
.visually-hidden.focusable:focus,
.js .js-visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearboth {
  clear: both;
}
.clearfloats {
  width: 100%;
  height: 0;
  overflow: hidden;
  clear: both;
}
/*# sourceMappingURL=/_styles/debug.main.css.map */